span.desc{
    margin-left:20px;
    color:gray;
}
div.workingroom{
    margin:200px auto;
    width:600px;
    position:relative;
}
div.workingroom a{
/*  display:inline-block; */
/*  margin-top:20px; */
}
div.loginDiv{
    text-align: left;
}
div.errorInfo{
    color:red;
    font-size:0.65em;
}
div.workingroom td{
    border:1px solid black;
}
div.workingroom table{
    border-collapse:collapse;
    width:100%;
}
 
div.workingroom td{
    border:1px solid black;
}
 
div.workingroom div.menu{
    position:absolute;
    left:-160px;
    top:-20px;
}
div.workingroom div.menu a{
    display:block;
    margin-top:20px;
}
 
div.workingroom div.addOrEdit{
    margin:20px;
    text-align:center;
}